.building {
    width:250px;
    height:auto;
}

#buildings {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.col-xs-3-center {
    margin: 30px;
}

#header {
    margin-bottom: 50px;
    padding:10px;
    background-color: #2E099B;
    border-radius: 25px;
}

#happiness {
    height: auto;
    width: 200px;
}
#moneyBox {
    background-color: blue;
    border-radius: 25px;
}
#money {
    
    color: rgb(0, 255, 0);
    font-weight: bold;
    -webkit-text-stroke: 3px black;
    font-family:sans-serif, Arial;
    text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}
#background {
    background-color: lightgreen;
    
}
.btn-light{
    height: 250px;
    width: 250px;
    
}
#icons {
    height: auto;
    width: 150px;
}
.buyButton {
    border-radius: 25px;
}
.back {
    height: 250px;
    width: 400px;
    border-radius: 25px;
    background-color: #333333;
    color: white;
    font-weight: bold;
}
.navigation {
    height: auto;
    width: 250px;
    border-radius: 25px;
    padding: 5px;
    background-color: #33333300;
    border-color: #33333300;
}

#happinessBar {
    height:100px;
}
#incomeRate {
    font-size: 750%;
    color: rgb(0, 255, 0);
    font-weight: bold;
    -webkit-text-stroke: 3px black;
    font-family:sans-serif, Arial;
    text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}
.display-1 {
    font-size: 1000%;
}
